
<h1><%= @vocab.language.language_name %>
<h1><%= @vocab.word_or_phrase %></h1>
<h3>Translation: <%= @vocab.translation %></h3>

<%= link_to "Back to My Page", user_path(current_user) %>
<p><%= link_to "Back to Vocabs", vocabs_path %></p>


<% if @vocab.user == current_user %>
<%= link_to "Edit Vocab", edit_vocab_path(@vocab) %>
<%= link_to "Delete this Vocab", @vocab, method: :delete %>
<% end %>