
<h1><%= @vocab.language.language_name %>
<h1><%= @vocab.word_or_phrase %></h1>
<h3>Translation: <%= @vocab.translation %></h3>

<p><%= link_to "See Examples with this Vocab or Phrase", vocab_examples_path(@vocab) %></p>

<% if @vocab.user == current_user %>
<p><%= link_to "Edit Vocab", edit_vocab_path(@vocab) %></p>
<p><%= link_to "Delete this Vocab", @vocab, method: :delete %></p><br>
<% end %>


<p><%= link_to "<< Back to Vocabs", vocabs_path %></p>


