<h1>Example of '<%= "#{@example.vocab.word_or_phrase}"%>' in <%="#{@example.vocab.language.language_name}"%> </h1>


    <h3><%= @example.sentence %></h3>
 

 
<p><%= link_to "Delete this Example", @example, method: :delete %></p>
<p><%= link_to "<< Back to Vocab", vocab_path(@example.vocab) %></p>