<!DOCTYPE html>
<html>
  <head>
    <title>Vocabbank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <div>
      <% if logged_in? %>
      <%= link_to "Add a Vocab or Phrase", new_vocab_path %> |
      <%= link_to "All Vocabs and Phrases", vocabs_path %> |
      <%= link_to "Logout", logout_path, method:"delete" %> |
      <% else %> 
      <%= link_to "Sign Up", signup_path %> |
      <%= link_to "Log In", login_path %> |
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
